body{
	background-color : #232323;
}
h1{
	color:#fff;
}
.square{
	width :30%;
	background :purple;
	margin :1.66%;
	float:left;
	padding-bottom:30%;
}

#container{
	max-width: 600px;
	margin : 0 auto ;
}